{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "vue/multi-word-component-names": 0,
        "vue/no-v-html": 0,
        "vue/no-multiple-template-root": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/ban-ts-comment": "off"
    }
}
